<script>
    $(document).ready(function () {
        $('#CEP').blur(function () {
            let cep = $(this).val().trim();

            if (cep === "" || !/^\d{5}-?\d{3}$/.test(cep)) {
                showErrorMessage("Por favor, insira um CEP válido.");
                return;
            }

            let url = `https://brasilapi.com.br/api/cep/v1/${cep}`;

            $.get(url, function (address) {
                $('#street').val(address.street.toUpperCase());
                $('#neighborhood').val(address.neighborhood.toUpperCase());
                $('#city').val(address.city.toUpperCase());
                $('#state').val(address.state.toUpperCase());
            }).fail(function () {
                showErrorMessage("CEP não encontrado ou inválido.");
            });
        });

        function showErrorMessage(message) {
            $('#error-message').remove();
            $('<div id="error-message" class="alert alert-danger mt-2">' + message + '</div>').insertAfter('#CEP');
        }
    });
</script>
